<app-navbar></app-navbar>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<div class="container_background">
    <div class="container container_main">
        <div class="subtitulo">
            <h5>Christian Naranjo</h5>
            <br>
            <div class="image-container">
                <img src="assets/chris.jpg" alt="Christian" class="small-image">
            </div>
            <br>
            <p>
                Mi nombre es Christian Naranjo, tengo 20 años, actualmente estoy estudiando la carrera 
			    de Ciencias de la Computación en la Universidad Politécnica Salesiana.
                Me apasiona mucho todo lo relacionado sobre la tecnología, además el futbol y los videojuegos.
                Tengo experiencia en realizar ensayos, informes, programación en Java, C++ y análisis.
                Me gradué en la Unidad Educativa Pedro Pablo Borja N°1 de Bachiller en Ciencias.
                Mis valores son el respeto, la honestidad, y la responsabilidad ante todo.
                Si deseas contactarme aqui te dejo mis redes sociales:
            </p>
            <div class="social">
                <ul>
                  <li><a href="https://wa.me/593983979070"><i class="fab fa-whatsapp fa-2x"></i></a></li>
                  <li><a href="https://www.facebook.com/kitu.naranjo"><i class="fab fa-facebook fa-2x"></i></a></li>
                  <li><a href="https://www.instagram.com/kitu.naranjo"><i class="fab fa-instagram fa-2x"></i></a></li>
                  <li><a href="https://twitter.com/kitunaranjo"><i class="fab fa-twitter fa-2x"></i></a></li>
                  <li><a href="https://github.com/KituNaranjo"><i class="fab fa-github fa-2x"></i></a></li>
                  <li><a href="https://www.linkedin.com/in/christian-naranjo-222656168/"><i class="fab fa-linkedin fa-2x"></i></a></li>
                </ul>
            </div>
    </div>
</div>