  <app-navbar></app-navbar>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"> 
  <div class="container_background">
    <div class="container container_main">
      <div class="container_textos">
        <h2 class="container_texto_principal">Quiénes Somos</h2>
        <span class="container_subtexto">Somos parte de la Fundación Tierra Nueva, organización de desarrollo social, creada por el Padre José Carollo para dar servicios de Salud, Educación y Protección Social. Somos un hospital docente de segundo nivel, contamos con modernas y cómodas instalaciones, además de equipamiento tecnológico actualizado. Disponemos de más de 30 especialidades médicas, equipos de diagnóstico de alta tecnología, cuatro quirófanos equipados, cómodas habitaciones, servicio de emergencias, farmacia y ambulancia 24 horas, entre otros servicios nos permiten brindarle un diagnóstico oportuno y una atención de calidad, respaldada por más de 20 años de experiencia.</span>
        <br><br><br>
        <div class="d-grid gap-2 d-md-flex justify-content-md-begin">
          <a  class="btn btn-warning" href="registrarse">Empezemos</a>
          <a href="https://web.whatsapp.com/send?phone=593967082157&text=%C2%BFEstimados%20Sr.%20del%20Hospital%20Padre%20Carollo,%20estoy%20interesado%20en%20agendar%20una%20cita%20en%20el%20la%20especialidad%20de%20?" class="btn btn-outline-secondary">Contactanos</a>
        </div>
        </div>
      <div class="container_carousel">
        <div id="carouselExample" class="carousel slide">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="d-flex align-items-center justify-content-center">
                <video class="d-block w-100" controls>
                  <source src="assets/videos/HOSPITAL PADRE CAROLLO.mp4" type="video/mp4">
                  Tu navegador no soporta el tag de video.
                </video>
              </div>
            </div>             
            <div class="carousel-item">
              <div class="d-flex align-items-center justify-content-center">
                <img src="assets\personal-8.png" class="d-block w-50" alt="...">
              </div>
            </div>
            <div class="carousel-item">
              <div class="d-flex align-items-center justify-content-center">
                <img src="assets\clinica-heridas2.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
          </div>

          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div class="container_footer">
          <span class="custom_span"></span>
          <footer class="container_texto_footer">
              <p>Síguenos en nuestras redes sociales: </p> 
              <div class="social">
                <ul>
                  <li><a href="https://www.facebook.com/hospitalpadrecarollo"><i class="fab fa-facebook fa-2x"></i></a></li>
                  <li><a href="https://www.instagram.com/hospital_padrecarollo/"><i class="fab fa-instagram fa-2x"></i></a></li>
                  <li><a href="https://web.whatsapp.com/send?phone=593967082157&text=%C2%BFEstimados%20Sr.%20del%20Hospital%20Padre%20Carollo,%20estoy%20interesado%20en%20agendar%20una%20cita%20en%20el%20la%20especialidad%20de%20?"><i class="fab fa-whatsapp fa-2x"></i></a></li>
                 </ul>
            </div>
          </footer>
        </div>
      </div>
    </div>
  </div>

  <app-servicios></app-servicios>